html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.btn {
    /*position: absolute;*/
    position: relative;
    display: inline-block;
    left: 0;
    top: 0;
    margin: 7px;
    width: 90px;
    height: 33px;
    text-align: center;
    background: #007bff;
    border: 1px solid #007bff;
    border-radius: 4px;
    color: white;
    font-family: monospace;
    font-weight: normal;
    font-size: 12px;
    line-height: 33px;
    text-decoration: none;
    cursor: pointer;
    z-index: 9;
    box-shadow: 1px 1px 8px -2px #333;
    user-select: none;
    overflow: hidden;
    font-family: 'Verdana';
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.btn:hover {
    opacity: 0.8;
}

.btn-measurement {
    /*left: 0;*/
    width: calc(30% - 20px);
    min-width: 45px;
}

.selected {
    background: #004896;
    border: 1px solid #004896;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 5;
    display: none;
    overflow: hidden;
}

.fabs {
    position: absolute;
    z-index: 10;
    top: 0px;
    left: 0px;
    display: inline;
    padding: 0;
    margin: 0;
    /*overflow: hidden;*/
}
.fab-options {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.fab-option {
    position: absolute;
    background: white;
    width: 56px;
    height: 56px;
    border-radius: 100%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    text-align: center;
    line-height: 56px;
    cursor: pointer;
    margin: 3px;
    transform: translate3d(0px, 0px, 0px);
    transition-property: all;
    transition-duration: .25s;
    transition-delay: 0s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 7;
}
.fab-close {
    position: absolute;
    background: white;
    border-radius: 100%;
    width: 56px;
    height: 56px;
    text-align: center;
    line-height: 56px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 8;
    display: block;
    margin: 3px;
    transform: scale3d(0.75, 0.75, 1);
}
.fence-wall {
    background-color: limegreen;
    color: black;
}
.fence-gate {
    background-color: yellow;
    color: black;
}
.delete {
    background-color: crimson;
    color: white;
}


/*#options table {
    border: 0px;
}
#options table th {
    padding: 10px 0;
}
#options table th label {
    margin: 0 5px;
}
#options select {
    padding: 7px 10px;
    border-radius: 4px;
    margin: 0 5px;
    background: #FFFFFF;
    border: 1px solid #007bff;
    color: #007bff;
    user-select: none;
}
#options select option {
    user-select: none;
}*/

#container {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    overflow: auto;
}


canvas, #canvas-container {
    position: absolute;
    display: inline-block;
    width: 100%;
    left: 0px;
    height: 100%;
    user-select: none;
    overflow: hidden;
    z-index: 2;
}


#sidebar-left {
    position: absolute;
    height: 100%;
    width: 375px;
    display: inline-block;

    border: 0;
    border-right: 1px solid #01c4ff;
    box-shadow: 3px 0px 7px -3px #808080;
    transition: width 0.2s ease-in-out, left 0.2s ease-in-out;
    padding: 0px;
    margin: 0px;

    left: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 3;
    background: #fcfeff;
}
#sidebar-left.closed {
    left: -400px;
}

#top-buttons {
    margin-top: 20px;
    width: 100%;
    margin: 0px;
    position: relative;
    display: flex;
    justify-content: space-around;
    height: auto;
    text-align: center;
    border-bottom: 1px solid #9f9f9f;
    padding: 20px 0 20px 0px;
    background: #EEE;
}
#top-buttons .btn {
    width: 85px;
}

#fenceOptions {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: stretch;
    flex-grow: 3;
    flex-wrap: wrap;
}
#fencegateOptions {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: stretch;
    flex-grow: 3;
    flex-wrap: wrap;
}
#fencepostOptions {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: stretch;
    flex-grow: 3;
    flex-wrap: wrap;
}

hr {
    border-top: 0px;
    border-bottom: 1px solid #c6c6c6;
    border-left: 0px;
    border-right: 0px;
    width: 100%;
}

#close_btn {
    width: 50px;
    height: 50px;
    background: #00c4ff;
    position: absolute;
    left: 375px;
    top: 0px;
    z-index: 3;
    display: block;
    border-radius: 0px 8px 8px 0px;
    cursor: pointer;
    transition: left 0.2s ease-in-out, background 0.25s ease-in-out;
    line-height: 50px;
    font-size: 20px;
    color: #000;
    text-align: center;
}
#close_btn.closed {
    left: 0px !important;
}
#close_btn:hover {
    background: #BBBBBB;
}
#toggleArrow {
    transform: rotateZ(0deg);
    transition: transform 0.2s ease-in-out 0.3s;
}
#toggleArrow.closed {
    transform: rotateZ(180deg);
}
#help_btn {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 20px;
    bottom: 15px;
    z-index: 3;
    display: block;
    background: #dcdcdc;
    line-height: 40px;
    font-size: 16px;
    color: #000;
    text-align: center;
    border-radius: 100%;
    cursor: pointer;
    transition: background 0.25s ease-in-out;
}
#help_btn:hover {
    background: #BBBBBB;
}


#done_drawing {
    position: fixed;
    bottom: 10px;
    left: 50%;
    right: 50%;
    text-align: center;
    width: 80%;
    max-width: 200px;
    height: 40px;
    border-radius: 5px;
    background: #007bff;
    border: 1px solid #007bff;
    color: #FFF;
    font-size: 17px;
    line-height: 40px;
    font-family: 'Verdana';
    font-weight: normal;
    z-index: 4;
    cursor: pointer;
    box-shadow: 0px 0px 5px -2px #333;
    transition: bottom 0.2s ease-in-out;
    overflow: hidden;
}
#done_drawing.closed {
    bottom: -100px;
}


/* Toast Messages */
.toast div {
    font-family: 'Arial';
    font-size: 14px;
}

@media screen and (max-width: 450px) {
    .btn {
        width: 35%;
        max-width: 90px;
    }
    #sidebar-left {
        width: 80%;
    }
    #close_btn {
        left: 80%;
        width: 20%;
        max-width: 50px;
    }
    #help_btn {
        width: 35px;
        height: 35px;
        font-size: 14px;
        line-height: 35px;
        right: 10px;
        bottom: 7.5px;
    }
    #zoom {
        width: 35px;
        right: 10px;
        bottom: 50px;
    }
    #zoom_in {
        padding: 7px 0px 7px 0px;
    }
    #zoom_out {
        padding: 7px 0px 7px 0px;
    }
}

@media screen and (max-width: 1024px) {
    /* VEX */
    .vex {
        padding-top: 0% !important;
        padding-bottom: 0% !important;
    }
    .vex-content {
        padding: 1.75em 1.75em 2.75em 1.75em !important;
        font-size: 20px;
        min-height: 100%;
        height: auto !important;
    }
    .vex-dialog-buttons {
        margin: 0px 0px 0px 0px !important;
        padding: 0px 0px 0px 0px !important;
    }
}
