*, ::after, ::before {
    box-sizing: border-box;
}

#canvas-container {
    position: absolute;
    display: inline-block;
    width: 100%;
    left: 0px;
    height: 100%;
    user-select: none;
    overflow: hidden;
    z-index: 2;
}

.optionContainer {
    width: 100%;
}

.saveOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffffff5e;
    display: none;
    top: 0;
    left: 0;
    z-index: 5;
    align-items: center;
    justify-content: center;
}

.full-size-options {
    position: absolute;
    top: 0;
    background-color: #fcfeff;
    height: 100%;
    margin: 0;
    padding: 20px;
    width: 100%;
    display: block;
}

.product {
    text-align: center;
    touch-action: pan-y;
    -o-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.product .image-container {
    width: 100%;
    position: relative;
}

.product .price {
    position: absolute;
    bottom: 5px;
    left: 0;
    background-color: white;
    padding-left: 10px;
}

.post-material-option{
    margin: 11px 4px 0 0;
    box-shadow: 1px 3px 2px 0px #0000001f;
    padding: 15px 15px 5px 15px;
    background: white;
    width: 32%;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}

.options-container {
    position: relative;
    user-select: none;
    text-align: left;
    width: calc(100% - 40px);
    margin: 20px 0 0 20px;
}

select.products {
    background-color: #f7f7f7;
    border: 0;
    color: #009bff;
    text-decoration: underline;
    width: 100%;
    padding: 1.0rem;
    font-size: large;
}

select.products:focus {
    outline: none;
    border: 0;
    color: #005083;
    text-decoration: underline;
}
/**
switch-------------
 */

.switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 20px;
    margin-bottom: 0;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 0px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border: 1px solid #d8d8d8;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Drag elements */
.dragging-element-active {
    /*transition: all 0.05s linear;*/
    width: 80px;
    height: auto;
    background: #FFFFFF;
    padding: 0px; 
    margin: 0px;
}