.fabs {
    position: fixed;
    z-index: 10;
    top: 0px;
    left: 0px;
    display: inline;
    padding: 0;
    margin: 0;
    /*overflow: hidden;*/
}
.fab-options {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.fab-option {
    position: absolute;
    background: white;
    width: 56px;
    height: 56px;
    border-radius: 100%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    text-align: center;
    line-height: 56px;
    cursor: pointer;
    margin: 3px;
    transform: translate3d(0px, 0px, 0px);
    transition-property: all;
    transition-duration: .25s;
    transition-delay: 0s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 7;
}
.fab-icon {
    background: white;
}
.fab-image {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
.fab-close {
    position: absolute;
    background: white;
    border-radius: 100%;
    width: 56px;
    height: 56px;
    text-align: center;
    line-height: 56px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 8;
    display: block;
    margin: 3px;
    transform: scale3d(0.75, 0.75, 1);
}
.fence-wall {
    background-color: limegreen;
    color: black;
}
.fence-gate {
    background-color: yellow;
    color: black;
}
.delete {
    background-color: crimson;
    color: white;
}