html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.btn {
    /*position: absolute;*/
    position: relative;
    display: inline-block;
    left: 0;
    top: 0;
    top: 0;
    margin: 7px;
    height: 33px;
    text-align: center;
    background: #007bff;
    border: 1px solid #007bff;
    border-radius: 4px;
    color: white;
    font-family: monospace;
    font-weight: normal;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
    z-index: 9;
    box-shadow: 1px 1px 8px -2px #333;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
    overflow: hidden;
    font-family: 'Verdana';
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.btn.btn-danger {
    background: #f74747;
    border: 1px solid #ff5252;
}

.btn:hover {
    opacity: 0.8;
}

.btn.disabled {
    background-color: #e7e7e7;
    border-color: #e7e7e7;
}

.hidden {
    display: none;
}

/*.btn-move {
    left: 0;
}
.btn-select {
    left: 250px;
}*/
.btn-measurement {
    /*left: 0;*/
    width: calc(30% - 20px);
    min-width: 45px;
}
.btn-next {
    /*left: 250px;*/
    width: calc(30% - 20px);
    min-width: 45px;
}

.selected {
    background: none;
    border: 5px solid #159dff !important;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 5;
    display: none;
    overflow: hidden;
}

.fabs {
    position: fixed;
    z-index: 10;
    top: 0px;
    left: 0px;
    display: inline;
    padding: 0;
    margin: 0;
    /*overflow: hidden;*/
}
.fab-options {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.fab-option {
    position: absolute;
    background: white;
    width: 56px;
    height: 56px;
    border-radius: 100%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    text-align: center;
    line-height: 56px;
    cursor: pointer;
    margin: 3px;
    transform: translate3d(0px, 0px, 0px);
    transition-property: all;
    transition-duration: .25s;
    transition-delay: 0s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 7;
}
.fab-close {
    position: absolute;
    background: white;
    border-radius: 100%;
    width: 56px;
    height: 56px;
    text-align: center;
    line-height: 56px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 8;
    display: block;
    margin: 3px;
    transform: scale3d(0.75, 0.75, 1);
}
.fence-wall {
    background-color: limegreen;
    color: black;
}
.fence-gate {
    background-color: yellow;
    color: black;
}
.delete {
    background-color: crimson;
    color: white;
}

#options {
    position: relative;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
    text-align: left;
    width: calc(100% - 40px);
    margin: 20px 0 0 20px;
}

h3 {
    display: block;
    width: 100%;
    font-family: 'Arial';
    font-size: 1.4rem;
    padding: 10px;
    background-color: white;
    margin: 0;
    /*box-shadow: 0px 2px 2px 0px #d0d0d078;*/
    position: absolute;
    z-index: 2;
}

.panelContainer {
    padding-top: 50px !important;
    box-shadow: 0px 2px 4px 0px #00000024;
    background: white;
}

.optionContainer {
    position: relative;
    user-select: none;
    text-align: left;
    /* width: calc(100% - 40px); */
    width: 100%;
    margin: 0;
    padding: 5px;
    /*background: #f7f7f7;*/
}
/*#options table {
    border: 0px;
}
#options table th {
    padding: 10px 0;
}
#options table th label {
    margin: 0 5px;
}
#options select {
    padding: 7px 10px;
    border-radius: 4px;
    margin: 0 5px;
    background: #FFFFFF;
    border: 1px solid #007bff;
    color: #007bff;
    user-select: none;
}
#options select option {
    user-select: none;
}*/

#container {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden; /*auto;*/
}
#container-top {
    position: absolute;
    top: 0;
    left: 370px;
    background: #fcfcfc;
    /*border-bottom: 1px solid #AAA;*/
    width: calc(100% - 370px);
    height: 56px;
    z-index: 3;
    z-index: 3;
    margin-left: 55px;
    transition: width 0.2s ease-in-out, left 0.2s ease-in-out;
    overflow-x: visible;
    overflow-y: hidden;
    box-shadow: 0px 1px 1px 0px #f4f8fa;
}
#container-top.closed {
    left: 0px;
    width: calc(100% - 55px);
}
#container-top-inner {
    width: calc(100% - 55px);
    /*min-width: 600px;*/
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: width 0.2s ease-in-out;
}
#container-top.closed #container-top-inner {
    width: 100%;
}
#container-top #container-top-inner .breadcrumb-steps {
    cursor: pointer;
    overflow-y: hidden;
    overflow-x: visible;
    min-width: 403px;
}
#container-top #container-top-inner .configure-step {
    display: inline-block;
    padding: 0px 10px 0px 0px;
    position: relative;
    text-align: center;
    line-height: 25px;
}
#container-top #container-top-inner .configure-step-button {
    border: 0;
    display: inline-block;
    margin: 0;
    padding: 0;
    cursor: pointer;
    width: auto;
    height: 56px;
}
#container-top #container-top-inner .configure-step-button:nth-child(2) {
    margin-left: -44px;
}
#container-top #container-top-inner .configure-step-button .configure-step-text {
    position: relative;
    display: inline-block;
    width: 180px;
    height: 56px;
    background: #bfcfe1;
    color: #FFF;
    font-size: 16px;
    line-height: 56px;
    margin: 0;
    padding: 0 0 0 20px;
    vertical-align: middle;
    font-family: 'Verdana';
    font-weight: normal;
    z-index: -1;
    opacity: 1;
    transition: background 0.2s ease-in-out;
    cursor: pointer;
    /*pointer-events: none;*/
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}
#container-top #container-top-inner .configure-step-button .configure-step-text.current {
    background: #139dff;
    padding: 0 0 0 15px;
}
#container-top #container-top-inner .configure-step-button .arrow-right {
    width: 0;
    height: 0;
    border-top: 28px solid transparent;
    border-bottom: 28px solid transparent;
    border-left: 40px solid #bfcfe1;
    display: inline-block;
    margin: 0 0 0 -5px;
    padding: 0;
    vertical-align: middle;
    z-index: 4;
    opacity: 1;
    transition: border-left-color 0.2s ease-in-out;
    cursor: pointer;
    /*pointer-events: none;*/
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}
#container-top #container-top-inner .configure-step-button .arrow-right.current {
    border-left-color: #139dff;
}

#container-top #container-top-inner .configure-step-button:hover .configure-step-text {
    background: #00b2ff;
}
#container-top #container-top-inner .configure-step-button:hover .arrow-right {
    border-left-color: #00b2ff;
}
/*#container-top .configure-step-button:hover .configure-step-text.current {
    background: #0070e8;
}
#container-top .configure-step-button:hover .arrow-right.current {
    border-left-color: #0070e8;
}*/

#container-top #container-top-inner .configure-step .configure-step-last {
    padding: 5px 0 0 5px;
}

canvas {
    position: absolute;
    display: inline-block;
    /*width: 100%;*/
    width: 100%;
    left: 0px;
    height: 100%;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
    overflow: hidden;
    z-index: 2;
}
#sidebar-left {
    position: absolute;
    height: 100%;
    width: 375px;
    display: inline-block;

    border: 0;
    /*border-right: 1px solid #AAA;*/
    box-shadow: 0px 0px 7px -3px #595959;
    transition: width 0.2s ease-in-out, left 0.2s ease-in-out;
    padding: 0px;
    margin: 0px;

    left: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 3;
    background: #fcfcfc;
}
#sidebar-left.closed {
    left: -400px;
}

#top-buttons {
    /* margin-top: 20px; */
    width: 100%;
    /* margin: 0px; */
    position: relative;
    display: flex;
    justify-content: flex-start;
    text-align: center;
    /* border-bottom: 1px solid #9f9f9f; */
    padding: 0px 19px;
    height: 56px;
    background: #fcfcfc;
    flex-direction: row;
    align-items: flex-end;box-shadow: 0px 0px 2px 0px #0000003b;
}

#top-buttons .btn {
    width: 85px;
}

/*#fenceOptions {*/
    /*display: flex;*/
    /*justify-content: space-around;*/
    /*align-content: center;*/
    /*align-items: stretch;*/
    /*flex-grow: 3;*/
    /*flex-wrap: wrap;*/
/*}*/
/*#fencegateOptions {*/
    /*display: flex;*/
    /*justify-content: space-around;*/
    /*align-content: center;*/
    /*align-items: stretch;*/
    /*flex-grow: 3;*/
    /*flex-wrap: wrap;*/
/*}*/
/*#fencepostOptions {*/
    /*display: flex;*/
    /*justify-content: space-around;*/
    /*align-content: center;*/
    /*align-items: stretch;*/
    /*flex-grow: 3;*/
    /*flex-wrap: wrap;*/
/*}*/
.btn-fenceoption {
    position: relative;
    height: 75px !important;
    cursor: pointer;
    border: 5px solid white;
    border-radius: 0;
    width: 86px;
    background-color: transparent;
    padding: 0;
}
.btn-fenceoption.selected .btn-fenceoption-image {
    opacity: 0.6 !important;
}
.btn-fenceoption-image {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    cursor: pointer;
    pointer-events: none;
}
.btn-fenceoption-text {
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 1px #000;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 12px;
    font-size: 12px;
    padding-top: 24px;
    pointer-events: none;
    cursor: pointer;
}

hr {
    border-top: 1px solid transparent;
    border-bottom: 0;
    border-left: 0px;
    border-right: 0px;
    width: 100%;
    color: white;
    background-color: none;
    box-shadow: 0px 2px 8px 0px #0000004a;
}

#close_btn {
    width: 56px;
    height: 56px;
    background: #FFF;
    position: absolute;
    left: 375px;
    top: 0px;
    z-index: 4;
    display: block;
    /*border-radius: 0px 8px 8px 0px;*/
    cursor: pointer;
    transition: left 0.2s ease-in-out, background 0.25s ease-in-out;
    line-height: 56px;
    font-size: 20px;
    color: #000;
    text-align: center;
    /*border-right: 1px solid #AAA;*/
    /*border-left: 1px solid #AAA;*/
    /*border-bottom: 1px solid #AAA;*/
    box-shadow: 1px 1px 6px 0px #cbcdce;
}
#close_btn.closed {
    left: 0px !important;
}
#close_btn:hover {
    background: #dcdcdc;
}
#toggleArrow {
    transform: rotateZ(0deg);
    transition: transform 0.2s ease-in-out 0.3s;
}
#toggleArrow.closed {
    transform: rotateZ(180deg);
}
#help_btn {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 20px;
    bottom: 15px;
    z-index: 3;
    display: block;
    background: #dcdcdc;
    line-height: 40px;
    font-size: 16px;
    color: #000;
    text-align: center;
    border-radius: 100%;
    cursor: pointer;
    transition: background 0.25s ease-in-out;
}
#help_btn:hover {
    background: #BBBBBB;
}

#zoom {
    position: absolute;
    width: 40px;
    height: auto;
    right: 20px;
    bottom: 75px;
    background: #FFF;
    display: block;
    box-shadow: 0px 0px 6px -2px #333;
    z-index: 3;
    border-radius: 5px;
}
#zoom_in {
    position: relative;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 10px 0px 10px 0px;
    height: auto;
    border: 0;
    line-height: 20px;
    cursor: pointer;
    border-bottom: 1px solid #DDD;
}
#zoom_out {
    position: relative;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 10px 0px 10px 0px;
    height: auto;
    border: 0;
    line-height: 20px;
    cursor: pointer;
}
#centerBtn {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 20px;
    bottom: 165px;
    z-index: 3;
    display: block;
    background: #FFF;
    box-shadow: 0px 0px 6px -2px #333;
    line-height: 42px;
    font-size: 19px;
    color: #000;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    margin: 0;
}
#done_drawing {
    position: fixed;
    bottom: 10px;
    left: 50%;
    right: 50%;
    text-align: center;
    width: 80%;
    max-width: 200px;
    height: 40px;
    border-radius: 5px;
    background: #007bff;
    border: 1px solid #007bff;
    color: #FFF;
    font-size: 17px;
    line-height: 40px;
    font-family: 'Verdana';
    font-weight: normal;
    z-index: 4;
    cursor: pointer;
    box-shadow: 0px 0px 5px -2px #333;
    transition: bottom 0.2s ease-in-out;
    overflow: hidden;
}
#done_drawing.closed {
    bottom: -100px;
}

.btn-draw {
    position: absolute;
    left: auto;
    right: 0;
    top: 60px;
    background: #007bff;
    border: 1px solid #007bff;
}

.btn-draw.selected {
    background: #159dff;
    border: 1px solid #159dff !important;
}

/* Toast Messages */
.toast div {
    font-family: 'Arial';
    font-size: 14px;
}


.tab-icon {
    position: relative;
    /* background: #bfcfe1; */
    /* width: 56px; */
    /* height: 46px; */
    /* border: 2px solid #ffffff; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
    padding: 18px 10px;
    /* font-weight: 600; */
    color: #000;
    /* border-top-left-radius: 6px; */
    /* border-top-right-radius: 6px; */
    font-family: 'Verdana';
    font-size: 14px;
    min-width: 80px;
}

.tab-icon:hover {
    background-color: #00b2ff;
}

.tab-icon.active {
    /*background: #139dff;*/
    border-bottom: 2px solid#139dff
}

.tab-icon.active:after, .tab-icon.active:before, .tab-icon:hover:after, .tab-icon:hover:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.tab-icon.active:after, .tab-icon:hover:after {
    border-color: rgba(230, 237, 240, 0);
    border-top-color: #139dff;
    border-width: 5px;
    margin-left: -5px;
}

.tab-icon.active:before, .tab-icon:hover:before {
    border-color: rgba(245, 245, 245, 0);
    /*border-top-color: #efefef;*/
    border-width: 8px;
    margin-left: -8px;
}


@media screen and (max-width: 675px) {
    .configure-step-last {
        position: fixed;
        right: 0;
        top: 56px;
        left: auto;
    }
    #container-top #container-top-inner .breadcrumb-steps {
        min-width: 260px;
        text-align: left;
    }
    #container-top #container-top-inner .configure-step-button .configure-step-text {
        width: 92px;
        padding: 0 0 0 30px !important;
        font-size: 14px;
    }
    #container-top #container-top-inner .configure-step-button .arrow-right {
        border-left-width: 30px;
    }
    #container-top #container-top-inner .configure-step-button:nth-child(2) {
        margin-left: -33px;
    }
    #container-top #container-top-inner .configure-step-button:nth-child(2) .configure-step-text {
        padding-right: 92px !important;
    }
}

@media (max-width: 450px) {
    #sidebar-left {
        width: 80%;
    }
    #container-top {
        width: calc(100% - 80%);
        left: 80%;
        margin-left: 52px;
    }
    #container-top.closed {
        width: calc(100% - 52px);
    }
    #container-top #container-top-inner {
        /*min-width: 525px;*/
        width: calc(100% - 52px);
    }
    #container-top.closed #container-top-inner {
        width: 100%;
    }

    #close_btn {
        left: 80%;
        width: 50px;
    }
    #help_btn {
        width: 35px;
        height: 35px;
        font-size: 14px;
        line-height: 35px;
        right: 10px;
        bottom: 7.5px;
    }
    #zoom {
        width: 35px;
        right: 10px;
        bottom: 50px;
    }
    #zoom_in {
        padding: 7px 0px 7px 0px;
    }
    #zoom_out {
        padding: 7px 0px 7px 0px;
    }
    #centerBtn {
        width: 35px;
        height: 35px;
        right: 10px;
        bottom: 130px;
        font-size: 18px;
        line-height: 38px;
    }
}

@media (max-width: 1024px) {
    /* VEX */
    .vex {
        padding-top: 0% !important;
        padding-bottom: 0% !important;
    }
    .vex-content {
        padding: 1.75em 1.75em 2.75em 1.75em !important;
        font-size: 20px;
        min-height: 100%;
        height: auto !important;
    }
    .vex-dialog-buttons {
        margin: 0px 0px 0px 0px !important;
        padding: 0px 0px 0px 0px !important;
    }
}
