html, body {
    padding: 0px;
    margin: 0px;
    background-color: #f9f9f9;
}
.field-wrapper {
    background: white;
    width: 60%;
    height: 100%;
    border: 1px solid #EFEFEF;
    display: block;
    position: relative;
    margin: 75px auto 0 auto;
    padding: 15px;
    border-radius: 3px;
}
.field-wrapper h1 {
    text-align: center;
    display: block;
}
.field-wrapper span {
    text-align: left;
    display: block;
}

.button-area {
    display: block;
    width: 100%;
    height: 45px;
    margin: 20px 0 0 0;
}
.back-btn {
    padding: 8px 15px;
    background: #337ab7;
    border: 1px solid #2e6da4;
    border-radius: 3px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 16px;
    text-decoration: none;
    float: left;
    cursor: pointer;
}

.next-btn {
    padding: 8px 15px;
    background: #337ab7;
    border: 1px solid #2e6da4;
    border-radius: 3px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 16px;
    text-decoration: none;
    float: right;
    cursor: pointer;
}

.poly-options {
    text-align: center;
}
.poly-option {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 3px;
    margin: 8px 10px;
    cursor: pointer;
    user-select: none;
}
.poly-option:hover {
    background: #dedcdc;
}
.poly-option.selected {
    background: #007bff;
    border: 1px solid #007bff;
}
.poly-option-image {
    width: 150px;
    height: 150px;
    border-radius: 3px;
    pointer-events: none;
}
.poly-option-text {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 10px 0 5px 0px;
    margin: 0;
    text-decoration: none;
    color: #333;
}
.poly-option.selected .poly-option-text {
    color: white;
}
.body {
    text-align: center;
}
.section-left {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
}
.section-right {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
}
.section-center {
    display: inline-block;
    vertical-align: middle;
    margin: 5px auto;
}
.field-wrapper .body input {
    background: white;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px 3px;
    width: 150px;
}

.text-align-left {
    text-align: left;
}
.text-align-center {
    text-align: center;
}
.text-align-right {
    text-align: right;
}